.diamond{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.diamond-content{
    max-width: 600px;
}

.dmcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.dmcol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.sumba{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.sumba-content{
    max-width: 600px;
}

.smcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.sumba-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.parang{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.parang-content{
    max-width: 600px;
}

.prcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.parang-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.tanjung{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.tanjung-content{
    max-width: 600px;
}

.ttcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.tanjung-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.pasih{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.pasih-content{
    max-width: 600px;
}

.pucol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.pasih-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.tomini{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.tomini-content{
    max-width: 600px;
}

.tbcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.tomini-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.jaya{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.jaya-content{
    max-width: 600px;
}

.jjcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.jaya-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.kalimutu{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.kalimutu-content{
    max-width: 600px;
}

.kmcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.kalimutu-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}
.merbabu{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.merbabu-content{
    max-width: 600px;
}

.mbcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.merbabu-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.merapi{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.merapi-content{
    max-width: 600px;
}

.mrcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.merapi-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}
.bromo{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.bromo-content{
    max-width: 600px;
}

.brcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.bromo-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.cpm{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.cpm-content{
    max-width: 600px;
}

.pmcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.cpm-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.ciputra{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.ciputra-content{
    max-width: 600px;
}

.cwcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.ciputra-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.smb{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.smb-content{
    max-width: 600px;
}

.sm-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.smb-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}