.kyakya{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.kyakya-content{
    max-width: 600px;
}

.kyacol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.kyakya-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn1 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.wijilan{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.wijilan-content{
    max-width: 600px;
}

.wicol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.wicol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn2 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.suryakencana{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.suryakencana-content{
    max-width: 600px;
}

.sucol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.sucol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn3 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.tanggerang{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.tanggerang-content{
    max-width: 600px;
}

.tacol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.tacol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn4 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.galabo{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
}

.galabo-content{
    max-width: 600px;
}

.galabo-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.gacol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn5 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.losari{
    border: 15px solid rgb(165, 226, 235);
    padding: 50px;
    margin: 20px;
    
}

.losari-content{
    max-width: 600px;
}

.locol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.locol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn6 {
    background-color:rgb(0, 113, 128) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.lawangsewu{
    border: 15px solid rgb(104, 161, 226);
    padding: 50px;
    margin: 20px;
}

.lawangsewu-content{
    max-width: 600px;
}

.lcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.lcol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn7 {
    background-color:rgb(15, 62, 100) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.trunyan{
    border: 15px solid rgb(104, 161, 226);
    padding: 50px;
    margin: 20px;
}

.trunyan-content{
    max-width: 600px;
}

.trcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.trcol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn8 {
    background-color:rgb(15, 62, 100) ;
    padding: 10px 20px;
    border-radius: 15px;
}
.alaspurwo{
    border: 15px solid rgb(104, 161, 226);
    padding: 50px;
    margin: 20px;
}

.alaspurwo-content{
    max-width: 600px;
}

.apcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.apcol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn9 {
    background-color:rgb(15, 62, 100) ;
    padding: 10px 20px;
    border-radius: 15px;
}

.hotelbali{
    border: 15px solid rgb(104, 161, 226);
    padding: 50px;
    margin: 20px;
}

.hotelbali-content{
    max-width: 600px;
}

.hbcol-content img {
    width: 173%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}

.hbcol-content h2{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(214, 202, 31);
}
.btn10 {
    background-color:rgb(15, 62, 100) ;
    padding: 10px 20px;
    border-radius: 15px;
}